﻿@model PizzaStore.BL.ViewModels.LoginViewModel

<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group" pf-validation-for="Password" pf-validationerror-class="has-error">

            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>
@if (ViewBag.VkAuthenticationURL != null)
{
    <a href="@ViewBag.VkAuthenticationURL">
        Авторизация через ВК
    </a>
}

@*@if (ViewData.ModelState.Keys.Count() > 0
               && ViewData.ModelState["Password"].ValidationState == ModelValidationState.Invalid)
{
    @:The field is invalid.
}*@