﻿@model string
@{
    ViewData["Title"] = "View";
    Layout = "_Test";
}

<br><hr><br>

<div id="create">
    <div class="col-lg-12">
        <form method="post" id="testForm">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="text" name="text" v-model="text">
            </div>

            <button class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<br><hr><br>

<h2>Value:</h2>
<h3>
    @Html.Raw(Model)
</h3>

<br><hr><br>

<script>
</script>